//colors
$color-black:#000;
$color-purle-light:#5031a9;
$color-purple:#61126c;
$color-purple-dark:#42014b;
$color-grey:#bcbcbc;
$color-grey-dark:#e4e0f4;
$color-blue:#7f55f7;
//btn-colors
$color-btn-black:#252525;
$color-btn-grey:#4e4e4e;
$color-btn-purple-light:#5031a9;
$color-btn-purple:#210c80;
$color-btn-purple-dark:#000066;
$color-btn-light:#e4e9ff;
//social-colors
$color-social-pink:#ec376c;
$color-social-red:#cb0054;
$color-social-red-dark:#ac003d;

//responsive
$tablet: 1048px;
$mobile: 767px;

//fonts
$font-regular:'source_sans_proregular', Arial, Helvetica, sans-serif;
$font-bold:'source_sans_probold', Arial, Helvetica, sans-serif;
$font-bold-italic:'source_sans_probold_italic', Arial, Helvetica, sans-serif;
$font-italic:'source_sans_proitalic', Arial, Helvetica, sans-serif;
